* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.abutton{
  margin: 40px;
  padding: 20px;
}

.abutton:active{
  animation-name: colorto;
  animation-duration: 250ms;
}

@keyframes colorto {
  from {
    background-color: #252525;
    color: #fff;
  }
  to{
    background-color: #ccc;
    color: #252525;
  }
}
.abutton-scaling{
  border-radius: 8px;
  transition: all 100ms;
}

.abutton-scaling:hover{
  scale: 1.5;
}
